@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <canvas class="mb-3 w-75 h-75 d-inline-block" id="pie"></canvas>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>

<script type="text/javascript">
    let myChart = document.getElementById('pie').getContext('2d');
    Chart.defaults.font.size = 20;
    let pieChart = new Chart(myChart, {
        type: 'pie',
        data: {
            labels: ['Facebook', 'VK', 'Google'],
            datasets: [{
                label: 'Social',
                data: [
                    @ViewBag.NumberOfPeople[0],
                    @ViewBag.NumberOfPeople[1],
                    @ViewBag.NumberOfPeople[2]
                ],
                backgroundColor: [
                    'rgb(45, 136, 255)',
                    'rgb(54, 162, 235)',
                    'rgb(234, 67, 53)'
                    ],
            }]
        }
        
    });
</script>
