<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/e23ecce6-e07b-43fd-8132-3288ccb08949/resourcegroups/PowerModeResourceGroup/providers/Microsoft.Web/sites/PowerMode</ResourceId>
    <ResourceGroup>PowerModeResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://powermode.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>bcfc4a9f-3c38-4803-a77f-becb4058820f</ProjectGuid>
    <PublishUrl>https://powermode.scm.azurewebsites.net/</PublishUrl>
    <UserName>$PowerMode</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>